# AVANCE 1

Importar Librerias

In [5]:
import pandas as pd
import numpy as np

Definir ruta de archivo CSV

In [6]:
ruta_archivo = r"C:\Users\PC\Documents\HENRY\MOD 4\PROYECTO INTEGRADOS M4\BASE INFORMACION\data_latinoamerica.csv"

#Tama√±o de cada chunk 
chunk_size = 100000

Definir pa√≠ses y fecha de corte

In [7]:
#Lista de pa√≠ses donde se expandir√°n
paises_objetivo = ['Colombia','Argentina','Chile', 'Mexico', 'Peru', 'Brasil']

#Fecha de corte
fecha_corte = '2021-01-01'

Leer y filtrar por chunk

In [8]:
#Lista para guardar los datos filtrados
datos_filtrados =[]

#Leer el archivo por partes
for chunk in pd.read_csv(ruta_archivo, chunksize = chunk_size, parse_dates = ['date']):
    
    #filtrar por pa√≠s y fecha
    chunk_filtrado = chunk[
        (chunk['country_name'].isin(paises_objetivo)) &
        (chunk['date'] > fecha_corte)
    ]
    datos_filtrados.append(chunk_filtrado)

#Unir todos los datos filtrados en un solo DataFrame
df = pd.concat(datos_filtrados,ignore_index = True)

Verificar cantidad de registros y columnas

In [9]:
print(f'‚úîÔ∏è El dataset filtrado tiene {df.shape[0]:,} registros y {df.shape[1]} columnas,')
df.head()

‚úîÔ∏è El dataset filtrado tiene 4,032,912 registros y 50 columnas,

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2021-01-02,AR,Argentina,7767.0,166.0,1670634.0,46688.0,20334.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
1,AR,2021-01-03,AR,Argentina,4934.0,157.0,1675568.0,46845.0,20529.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
2,AR,2021-01-04,AR,Argentina,13953.0,157.0,1689521.0,47002.0,25164.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
3,AR,2021-01-05,AR,Argentina,14085.0,160.0,1703606.0,47162.0,29852.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
4,AR,2021-01-06,AR,Argentina,14496.0,131.0,1718102.0,47293.0,34162.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN

Completar valores faltantes por pa√≠s (relleno por promedio de cada pa√≠s)

In [10]:
#Llenar valores num√©ricos faltantes por promedio del pa√≠s
columnas_numericas = df.select_dtypes(include=[np.number]).columns

for col in columnas_numericas:
    df[col] =df.groupby('country_name')[col].transform(lambda x: x.fillna(x.mean()))


"""¬øQu√© hace?
Detecta las columnas num√©ricas del dataset.
Para cada una, rellena los valores nulos (NaN) con el promedio del pa√≠s (groupby("nombre_pa√≠s")).
Por ejemplo: si la columna pib tiene valores nulos en M√©xico, los rellena con el promedio de pib en M√©xico.
"""

'¬øQu√© hace?\nDetecta las columnas num√©ricas del dataset.\nPara cada una, rellena los valores nulos (NaN) con el promedio del pa√≠s (groupby("nombre_pa√≠s")).\nPor ejemplo: si la columna pib tiene valores nulos en M√©xico, los rellena con el promedio de pib en M√©xico.\n'

Limpiar valores restantes

In [11]:
#Rellenar con m√©todo hacia adelante y hacia atras por pa√≠s
df = df.sort_values(by=['country_name','date'])
df = df.groupby ('country_name').apply (lambda group: group.ffill().bfill()).reset_index(drop=True)

#Verificar si quedan nulos
nulos_totales = df.isnull().sum().sum()
print(f'üîç Total de valores nulos despues de limpieza:{nulos_totales}')

C:\Users\PC\AppData\Local\Temp\ipykernel_1196\3673006257.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby ('country_name').apply (lambda group: group.ffill().bfill()).reset_index(drop=True)

üîç Total de valores nulos despues de limpieza:6396624

Revision de dataset

In [12]:
#Ver cantidad de columnas y filas
print(f"‚úÖ El DataFrame final tiene {df.shape[0]:,} filas y {df.shape[1]} columnas.")

#Ver muestra de contenido
df.head() 

#Ver columnas y tipos de datos
df.info()

‚úÖ El DataFrame final tiene 4,032,912 filas y 50 columnas.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032912 entries, 0 to 4032911
Data columns (total 50 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_code                           object
 3   country_name                           object
 4   new_confirmed                          float64
 5   new_deceased                           float64
 6   cumulative_confirmed                   float64
 7   cumulative_deceased                    float64
 8   cumulative_vaccine_doses_administered  float64
 9   population                             float64
 10  population_male                        float64
 11  population_female                      float64
 12  population_rural                       float64
 13  population_urban                       float64
 14  population_density                     float64
 15  human_development_index                float64
 16  population_age_00_09                   float64
 17  population_age_10_19                   float64
 18  population_age_20_29                   float64
 19  population_age_30_39                   float64
 20  population_age_40_49                   float64
 21  population_age_50_59                   float64
 22  population_age_60_69                   float64
 23  population_age_70_79                   float64
 24  population_age_80_and_older            float64
 25  gdp_usd                                float64
 26  gdp_per_capita_usd                     float64
 27  latitude                               float64
 28  longitude                              float64
 29  area_sq_km                             float64
 30  smoking_prevalence                     float64
 31  diabetes_prevalence                    float64
 32  infant_mortality_rate                  float64
 33  nurses_per_1000                        float64
 34  physicians_per_1000                    float64
 35  average_temperature_celsius            float64
 36  minimum_temperature_celsius            float64
 37  maximum_temperature_celsius            float64
 38  rainfall_mm                            float64
 39  relative_humidity                      float64
 40  population_largest_city                float64
 41  area_rural_sq_km                       float64
 42  area_urban_sq_km                       float64
 43  life_expectancy                        float64
 44  adult_male_mortality_rate              float64
 45  adult_female_mortality_rate            float64
 46  pollution_mortality_rate               float64
 47  comorbidity_mortality_rate             float64
 48  new_recovered                          float64
 49  cumulative_recovered                   float64
dtypes: datetime64[ns](1), float64(46), object(3)
memory usage: 1.5+ GB

Analisis exploratorio basico: Incidencias de COVID

In [13]:
#Ver columnas clave relacionadas con COVID
columnas_covid = [
    'new_confirmed', 'new_deceased', 'new_recovered',
    'cumulative_confirmed', 'cumulative_deceased', 'cumulative_recovered'
]

#Estadisticas basicas por pais
df_covid = df.groupby('country_name')[columnas_covid].sum().sort_values(by='cumulative_confirmed',ascending=False)

pd.options.display.float_format = '{:,.0f}'.format

In [14]:
# Mostrar los primeros 10 pa√≠ses con m√°s casos acumulados
print("üìä Totales acumulados por pa√≠s:")
df_covid.head(10)

üìä Totales acumulados por pa√≠s:

,new_confirmed,new_deceased,new_recovered,cumulative_confirmed,cumulative_deceased,cumulative_recovered
country_name,,,,,,
Mexico,"125,532,393","2,470,365",0,"26,524,574,382","1,128,294,132",0
Colombia,"40,325,309","1,037,162","38,100,751","18,926,845,373","520,740,448","13,455,268,402"
Peru,"46,897,314","2,117,947",0,"18,476,724,816","1,507,832,723",0
Argentina,"29,917,310","323,484",0,"12,159,879,088","220,825,661",0
Chile,"37,212,360","463,261",0,"10,027,702,078","182,060,694",0

Ver resumen estad√≠stico

In [15]:
print("üìê Dimensiones finales del dataset:")
print(f"üî¢ Filas: {df.shape[0]:,}")
print(f"üî¢ Columnas: {df.shape[1]}")

print("\nüëÄ Vista previa:")
display(df.head())

print("\nüìã Tipos de datos:")
df.info()

print("\nüìä Estad√≠sticas b√°sicas:")
df.describe()

üìê Dimensiones finales del dataset:
üî¢ Filas: 4,032,912
üî¢ Columnas: 50

üëÄ Vista previa:

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2021-01-02,AR,Argentina,"7,767",166,"1,670,634","46,688","20,334","44,938,712",...,"15,057,273","2,690,269","55,032",77,147,79,27,16,NaN,NaN
1,AR_A,2021-01-02,AR,Argentina,20,2,"22,367","1,169","1,294","1,406,584",...,"15,057,273","2,690,269","55,032",77,147,79,27,16,NaN,NaN
2,AR_A_007,2021-01-02,AR,Argentina,1,0,700,23,"168,819","57,411",...,"15,057,273","2,690,269","55,032",77,147,79,27,16,NaN,NaN
3,AR_A_014,2021-01-02,AR,Argentina,88,1,"35,756",649,2,"7,315",...,"15,057,273","2,690,269","55,032",77,147,79,27,16,NaN,NaN
4,AR_A_021,2021-01-02,AR,Argentina,0,0,589,20,"168,819","14,850",...,"15,057,273","2,690,269","55,032",77,147,79,27,16,NaN,NaN

üìã Tipos de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032912 entries, 0 to 4032911
Data columns (total 50 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_code                           object
 3   country_name                           object
 4   new_confirmed                          float64
 5   new_deceased                           float64
 6   cumulative_confirmed                   float64
 7   cumulative_deceased                    float64
 8   cumulative_vaccine_doses_administered  float64
 9   population                             float64
 10  population_male                        float64
 11  population_female                      float64
 12  population_rural                       float64
 13  population_urban                       float64
 14  population_density                     float64
 15  human_development_index                float64
 16  population_age_00_09                   float64
 17  population_age_10_19                   float64
 18  population_age_20_29                   float64
 19  population_age_30_39                   float64
 20  population_age_40_49                   float64
 21  population_age_50_59                   float64
 22  population_age_60_69                   float64
 23  population_age_70_79                   float64
 24  population_age_80_and_older            float64
 25  gdp_usd                                float64
 26  gdp_per_capita_usd                     float64
 27  latitude                               float64
 28  longitude                              float64
 29  area_sq_km                             float64
 30  smoking_prevalence                     float64
 31  diabetes_prevalence                    float64
 32  infant_mortality_rate                  float64
 33  nurses_per_1000                        float64
 34  physicians_per_1000                    float64
 35  average_temperature_celsius            float64
 36  minimum_temperature_celsius            float64
 37  maximum_temperature_celsius            float64
 38  rainfall_mm                            float64
 39  relative_humidity                      float64
 40  population_largest_city                float64
 41  area_rural_sq_km                       float64
 42  area_urban_sq_km                       float64
 43  life_expectancy                        float64
 44  adult_male_mortality_rate              float64
 45  adult_female_mortality_rate            float64
 46  pollution_mortality_rate               float64
 47  comorbidity_mortality_rate             float64
 48  new_recovered                          float64
 49  cumulative_recovered                   float64
dtypes: datetime64[ns](1), float64(46), object(3)
memory usage: 1.5+ GB

üìä Estad√≠sticas b√°sicas:

,date,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,population_male,population_female,population_rural,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
count,4032912,"4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912",...,"4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","4,032,912","947,856","721,344"
mean,2021-11-09 12:00:00.000001024,69,2,"21,353",883,"45,643,166","135,866","324,120","340,259","13,873,556",...,"15,056,281","1,539,168","56,195",76,160,86,43,15,40,"18,653"
min,2021-01-02 00:00:00,-101,-53,0,0,0,4,12,29,"2,341,903",...,"6,723,516","709,418","12,027",75,108,59,25,12,0,0
25%,2021-06-06 18:00:00,40,1,"15,576",722,"2,018,681","3,843","1,994","2,036","7,120,114",...,"10,554,712","1,256,339","16,425",75,146,79,37,13,0,"3,550"
50%,2021-11-09 12:00:00,56,2,"17,017",724,"40,871,661","13,434","7,527","7,726","9,512,141",...,"10,779,376","1,256,339","36,132",77,152,85,37,16,53,"18,653"
75%,2022-04-14 06:00:00,81,2,"17,017","1,271","80,829,641","47,932","58,173","60,983","24,948,670",...,"21,671,908","1,831,423","102,418",77,184,96,64,16,53,"18,653"
max,2022-09-17 00:00:00,"174,174","11,447","9,697,763","304,025","209,673,612","110,991,953","54,855,231","57,481,307","24,948,670",...,"21,671,908","2,690,269","102,418",80,184,96,64,16,"61,030","5,441,021"
std,NaN,477,11,"123,566","4,150","31,730,029","1,738,221","1,018,411","1,066,954","8,977,560",...,"5,481,620","492,885","38,376",1,22,10,14,2,322,"99,534"

Estadisticas descritivas con bucle for

In [16]:
#Seleccionar solo columnas num√©ricas
columnas_numericas = df.select_dtypes (include = 'number').columns

#Calcular estadisticas descriptiva con bucle
for col in columnas_numericas:
    print(f'\nüìä Estad√≠sticas para: {col}')
    print(f'üîπ Media: {df[col].mean():,.2f}')
    print(f'üîπ Mediana: {df[col].median():,.2f}')
    print(f'üîπ M√≠nimo: {df[col].min():,.2f}')
    print(f'üîπ M√°ximo: {df[col].max():,.2f}')
    print(f'üîπ Desviaci√≥n est√°ndar: {df[col].std():,.2f}')
    print(f'üîπ Varianza: {df[col].var():,.2f}')

üìä Estad√≠sticas para: new_confirmed
üîπ Media: 69.40
üîπ Mediana: 55.90
üîπ M√≠nimo: -101.00
üîπ M√°ximo: 174,174.00
üîπ Desviaci√≥n est√°ndar: 476.93
üîπ Varianza: 227,463.49

üìä Estad√≠sticas para: new_deceased
üîπ Media: 1.59
üîπ Mediana: 1.58
üîπ M√≠nimo: -53.00
üîπ M√°ximo: 11,447.00
üîπ Desviaci√≥n est√°ndar: 10.69
üîπ Varianza: 114.38

üìä Estad√≠sticas para: cumulative_confirmed
üîπ Media: 21,353.24
üîπ Mediana: 17,016.55
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 9,697,763.00
üîπ Desviaci√≥n est√°ndar: 123,565.80
üîπ Varianza: 15,268,505,825.23

üìä Estad√≠sticas para: cumulative_deceased
üîπ Media: 882.68
üîπ Mediana: 723.84
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 304,025.00
üîπ Desviaci√≥n est√°ndar: 4,149.82
üîπ Varianza: 17,221,019.80

üìä Estad√≠sticas para: cumulative_vaccine_doses_administered
üîπ Media: 45,643,166.09
üîπ Mediana: 40,871,660.99
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 209,673,612.00
üîπ Desviaci√≥n est√°ndar: 31,730,028.68
üîπ Varianza: 1,006,794,719,962,522.38

üìä Estad√≠sticas para: population
üîπ Media: 135,865.66
üîπ Mediana: 13,434.00
üîπ M√≠nimo: 4.00
üîπ M√°ximo: 110,991,953.00
üîπ Desviaci√≥n est√°ndar: 1,738,220.92
üîπ Varianza: 3,021,411,964,672.58

üìä Estad√≠sticas para: population_male
üîπ Media: 324,119.68
üîπ Mediana: 7,527.00
üîπ M√≠nimo: 12.00
üîπ M√°ximo: 54,855,231.00
üîπ Desviaci√≥n est√°ndar: 1,018,411.41
üîπ Varianza: 1,037,161,793,671.67

üìä Estad√≠sticas para: population_female
üîπ Media: 340,258.81
üîπ Mediana: 7,726.00
üîπ M√≠nimo: 29.00
üîπ M√°ximo: 57,481,307.00
üîπ Desviaci√≥n est√°ndar: 1,066,954.38
üîπ Varianza: 1,138,391,639,107.83

üìä Estad√≠sticas para: population_rural
üîπ Media: 13,873,555.93
üîπ Mediana: 9,512,141.00
üîπ M√≠nimo: 2,341,903.00
üîπ M√°ximo: 24,948,670.00
üîπ Desviaci√≥n est√°ndar: 8,977,560.43
üîπ Varianza: 80,596,591,219,038.53

üìä Estad√≠sticas para: population_urban
üîπ Media: 58,855,768.92
üîπ Mediana: 40,827,302.00
üîπ M√≠nimo: 16,610,135.00
üîπ M√°ximo: 102,626,859.00
üîπ Desviaci√≥n est√°ndar: 35,414,318.35
üîπ Varianza: 1,254,173,944,083,863.00

üìä Estad√≠sticas para: population_density
üîπ Media: 44.25
üîπ Mediana: 45.86
üîπ M√≠nimo: 16.51
üîπ M√°ximo: 66.33
üîπ Desviaci√≥n est√°ndar: 19.33
üîπ Varianza: 373.55

üìä Estad√≠sticas para: human_development_index
üîπ Media: 0.73
üîπ Mediana: 0.74
üîπ M√≠nimo: 0.60
üîπ M√°ximo: 0.83
üîπ Desviaci√≥n est√°ndar: 0.05
üîπ Varianza: 0.00

üìä Estad√≠sticas para: population_age_00_09
üîπ Media: 115,468.78
üîπ Mediana: 3,584.00
üîπ M√≠nimo: 9.00
üîπ M√°ximo: 21,575,859.00
üîπ Desviaci√≥n est√°ndar: 357,874.10
üîπ Varianza: 128,073,869,244.80

üìä Estad√≠sticas para: population_age_10_19
üîπ Media: 123,102.35
üîπ Mediana: 3,630.00
üîπ M√≠nimo: 7.00
üîπ M√°ximo: 21,966,049.00
üîπ Desviaci√≥n est√°ndar: 372,013.08
üîπ Varianza: 138,393,732,605.77

üìä Estad√≠sticas para: population_age_20_29
üîπ Media: 130,017.48
üîπ Mediana: 2,651.00
üîπ M√≠nimo: 4.00
üîπ M√°ximo: 18,680,448.00
üîπ Desviaci√≥n est√°ndar: 352,191.84
üîπ Varianza: 124,039,091,093.70

üìä Estad√≠sticas para: population_age_30_39
üîπ Media: 122,624.71
üîπ Mediana: 2,329.00
üîπ M√≠nimo: 13.00
üîπ M√°ximo: 16,763,785.00
üîπ Desviaci√≥n est√°ndar: 322,129.40
üîπ Varianza: 103,767,349,659.96

üìä Estad√≠sticas para: population_age_40_49
üîπ Media: 102,090.20
üîπ Mediana: 1,828.00
üîπ M√≠nimo: 10.00
üîπ M√°ximo: 12,937,956.00
üîπ Desviaci√≥n est√°ndar: 259,552.22
üîπ Varianza: 67,367,356,064.71

üìä Estad√≠sticas para: population_age_50_59
üîπ Media: 88,686.03
üîπ Mediana: 1,366.00
üîπ M√≠nimo: 7.00
üîπ M√°ximo: 8,959,656.00
üîπ Desviaci√≥n est√°ndar: 208,673.54
üîπ Varianza: 43,544,647,208.05

üìä Estad√≠sticas para: population_age_60_69
üîπ Media: 59,943.01
üîπ Mediana: 941.00
üîπ M√≠nimo: 1.00
üîπ M√°ximo: 5,433,731.00
üîπ Desviaci√≥n est√°ndar: 138,135.69
üîπ Varianza: 19,081,468,634.73

üìä Estad√≠sticas para: population_age_70_79
üîπ Media: 30,857.84
üîπ Mediana: 616.00
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 3,119,417.00
üîπ Desviaci√≥n est√°ndar: 74,470.30
üîπ Varianza: 5,545,825,321.23

üìä Estad√≠sticas para: population_age_80_and_older
üîπ Media: 14,148.55
üîπ Mediana: 317.00
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 1,502,231.00
üîπ Desviaci√≥n est√°ndar: 35,743.55
üîπ Varianza: 1,277,601,605.55

üìä Estad√≠sticas para: gdp_usd
üîπ Media: 664,753,594,419.39
üîπ Mediana: 323,802,808,108.00
üîπ M√≠nimo: 226,848,050,819.00
üîπ M√°ximo: 1,258,286,717,124.00
üîπ Desviaci√≥n est√°ndar: 474,838,819,360.83
üîπ Varianza: 225,471,904,371,988,047,593,472.00

üìä Estad√≠sticas para: gdp_per_capita_usd
üîπ Media: 8,695.18
üîπ Mediana: 9,863.00
üîπ M√≠nimo: 6,432.00
üîπ M√°ximo: 14,896.00
üîπ Desviaci√≥n est√°ndar: 2,148.50
üîπ Varianza: 4,616,073.30

üìä Estad√≠sticas para: latitude
üîπ Media: 0.72
üîπ Mediana: 4.92
üîπ M√≠nimo: -75.00
üîπ M√°ximo: 32.65
üîπ Desviaci√≥n est√°ndar: 19.12
üîπ Varianza: 365.39

üìä Estad√≠sticas para: longitude
üîπ Media: -82.88
üîπ Mediana: -77.01
üîπ M√≠nimo: -117.03
üîπ M√°ximo: -49.50
üîπ Desviaci√≥n est√°ndar: 13.10
üîπ Varianza: 171.61

üìä Estad√≠sticas para: area_sq_km
üîπ Media: 6,675.15
üîπ Mediana: 694.00
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 2,780,400.00
üîπ Desviaci√≥n est√°ndar: 56,445.25
üîπ Varianza: 3,186,066,677.92

üìä Estad√≠sticas para: smoking_prevalence
üîπ Media: 12.39
üîπ Mediana: 14.00
üîπ M√≠nimo: 4.80
üîπ M√°ximo: 37.80
üîπ Desviaci√≥n est√°ndar: 7.98
üîπ Varianza: 63.73

üìä Estad√≠sticas para: diabetes_prevalence
üîπ Media: 9.46
üîπ Mediana: 7.40
üîπ M√≠nimo: 5.90
üîπ M√°ximo: 13.50
üîπ Desviaci√≥n est√°ndar: 3.25
üîπ Varianza: 10.58

üìä Estad√≠sticas para: infant_mortality_rate
üîπ Media: 10.79
üîπ Mediana: 11.00
üîπ M√≠nimo: 6.20
üîπ M√°ximo: 12.20
üîπ Desviaci√≥n est√°ndar: 1.38
üîπ Varianza: 1.92

üìä Estad√≠sticas para: nurses_per_1000
üîπ Media: 2.85
üîπ Mediana: 2.40
üîπ M√≠nimo: 1.33
üîπ M√°ximo: 13.32
üîπ Desviaci√≥n est√°ndar: 2.59
üîπ Varianza: 6.71

üìä Estad√≠sticas para: physicians_per_1000
üîπ Media: 2.18
üîπ Mediana: 2.38
üîπ M√≠nimo: 1.30
üîπ M√°ximo: 3.99
üîπ Desviaci√≥n est√°ndar: 0.73
üîπ Varianza: 0.53

üìä Estad√≠sticas para: average_temperature_celsius
üîπ Media: 20.65
üîπ Mediana: 21.43
üîπ M√≠nimo: -51.17
üîπ M√°ximo: 38.00
üîπ Desviaci√≥n est√°ndar: 4.79
üîπ Varianza: 22.98

üìä Estad√≠sticas para: minimum_temperature_celsius
üîπ Media: 14.89
üîπ Mediana: 15.41
üîπ M√≠nimo: -54.39
üîπ M√°ximo: 32.00
üîπ Desviaci√≥n est√°ndar: 5.46
üîπ Varianza: 29.80

üìä Estad√≠sticas para: maximum_temperature_celsius
üîπ Media: 26.01
üîπ Mediana: 26.50
üîπ M√≠nimo: -47.78
üîπ M√°ximo: 45.44
üîπ Desviaci√≥n est√°ndar: 4.82
üîπ Varianza: 23.27

üìä Estad√≠sticas para: rainfall_mm
üîπ Media: 1.86
üîπ Mediana: 0.05
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 173.99
üîπ Desviaci√≥n est√°ndar: 4.49
üîπ Varianza: 20.18

üìä Estad√≠sticas para: relative_humidity
üîπ Media: 66.10
üîπ Mediana: 67.71
üîπ M√≠nimo: 3.85
üîπ M√°ximo: 100.00
üîπ Desviaci√≥n est√°ndar: 12.96
üîπ Varianza: 168.08

üìä Estad√≠sticas para: population_largest_city
üîπ Media: 15,056,280.74
üîπ Mediana: 10,779,376.00
üîπ M√≠nimo: 6,723,516.00
üîπ M√°ximo: 21,671,908.00
üîπ Desviaci√≥n est√°ndar: 5,481,620.31
üîπ Varianza: 30,048,161,260,391.85

üìä Estad√≠sticas para: area_rural_sq_km
üîπ Media: 1,539,167.84
üîπ Mediana: 1,256,339.00
üîπ M√≠nimo: 709,418.00
üîπ M√°ximo: 2,690,269.00
üîπ Desviaci√≥n est√°ndar: 492,885.36
üîπ Varianza: 242,935,976,180.62

üìä Estad√≠sticas para: area_urban_sq_km
üîπ Media: 56,195.41
üîπ Mediana: 36,132.00
üîπ M√≠nimo: 12,027.00
üîπ M√°ximo: 102,418.00
üîπ Desviaci√≥n est√°ndar: 38,375.78
üîπ Varianza: 1,472,700,821.37

üìä Estad√≠sticas para: life_expectancy
üîπ Media: 76.23
üîπ Mediana: 76.52
üîπ M√≠nimo: 74.99
üîπ M√°ximo: 80.04
üîπ Desviaci√≥n est√°ndar: 1.26
üîπ Varianza: 1.58

üìä Estad√≠sticas para: adult_male_mortality_rate
üîπ Media: 159.89
üîπ Mediana: 151.62
üîπ M√≠nimo: 107.67
üîπ M√°ximo: 184.38
üîπ Desviaci√≥n est√°ndar: 21.56
üîπ Varianza: 464.79

üìä Estad√≠sticas para: adult_female_mortality_rate
üîπ Media: 85.95
üîπ Mediana: 84.82
üîπ M√≠nimo: 59.03
üîπ M√°ximo: 95.82
üîπ Desviaci√≥n est√°ndar: 9.67
üîπ Varianza: 93.51

üìä Estad√≠sticas para: pollution_mortality_rate
üîπ Media: 43.26
üîπ Mediana: 36.70
üîπ M√≠nimo: 25.30
üîπ M√°ximo: 63.90
üîπ Desviaci√≥n est√°ndar: 13.80
üîπ Varianza: 190.47

üìä Estad√≠sticas para: comorbidity_mortality_rate
üîπ Media: 14.63
üîπ Mediana: 15.70
üîπ M√≠nimo: 12.40
üîπ M√°ximo: 15.80
üîπ Desviaci√≥n est√°ndar: 1.51
üîπ Varianza: 2.29

üìä Estad√≠sticas para: new_recovered
üîπ Media: 40.20
üîπ Mediana: 52.82
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 61,030.00
üîπ Desviaci√≥n est√°ndar: 321.93
üîπ Varianza: 103,636.11

üìä Estad√≠sticas para: cumulative_recovered
üîπ Media: 18,653.05
üîπ Mediana: 18,653.05
üîπ M√≠nimo: 0.00
üîπ M√°ximo: 5,441,021.00
üîπ Desviaci√≥n est√°ndar: 99,534.36
üîπ Varianza: 9,907,088,345.98

Respuesta a las preguntas en el punto 11:
¬øQu√© implican estas m√©tricas y c√≥mo ayudan en el an√°lisis?
Estas m√©tricas (media, mediana, desviaci√≥n est√°ndar, etc.) permiten:
Entender la distribuci√≥n de los datos
Detectar valores at√≠picos
Comparar comportamientos entre pa√≠ses o periodos
Medir variabilidad o consistencia en los datos

¬øSe muestran todas las estad√≠sticas en todas las columnas durante el an√°lisis?
No. Algunas funciones como df.describe() s√≥lo calculan estad√≠sticas para columnas num√©ricas, y no incluyen mediana, rango, ni varianza por defecto.

¬øCu√°l es la raz√≥n y c√≥mo puede afectar eso la interpretaci√≥n?
Esto ocurre porque describe() est√° dise√±ado para un resumen general r√°pido. No incluir mediana o rango puede ocultar:
Distribuciones asim√©tricas (por eso es clave usar tambi√©n la mediana)
Casos con gran dispersi√≥n (varianza y rango ayudan a ver esto)
Lo anterior puede llevar a interpretar que los datos est√°n m√°s ‚Äúbalanceados‚Äù de lo que realmente est√°n.

Crear una funcion personalizada
Objetivo: Funci√≥n para obtener mediana, varianza y rango, y responder preguntas sobre dispersi√≥n.

In [17]:
def estadisticas_personalizadas(df,columnas):
    resultados = {}
    for col in columnas:
        mediana = df[col].median()
        varianza = df[col].var()
        rango = df[col].max() - df[col].min()
        resultados[col] = {
            'mediana': round(mediana,2),
            'varianza': round(varianza,2), 
            'rango':round(rango,2)
        }
    return pd.DataFrame(resultados).T   #Transpuesta mejor visualizaci√≥n

#Aplicar a columnas objetivo
columnas_objetivo = ['new_confirmed', 'new_deceased', 'population']
estadisticas_personalizadas(df,columnas_objetivo)

               mediana          varianza       rango
new_confirmed       56           227,463     174,275
new_deceased         2               114      11,500
population      13,434 3,021,411,964,673 110,991,949

Respuestas a las preguntas en el punto 12:
¬øQu√© representa la mediana?
La mediana es el valor central de una distribuci√≥n. Es √∫til cuando hay valores extremos (outliers) porque no se ve afectada por ellos, a diferencia de la media. Es una medida de tendencia central.
Por eso, es muy √∫til para analizar datos como los de casos y muertes por COVID, donde puede haber picos anormales.

En este caso:
nuevos_confirmados: Mediana = 56 ‚Üí En la mayor√≠a de las observaciones, el n√∫mero de nuevos confirmados ronda los 56.

nuevos_fallecidos: Mediana = 2 ‚Üí En la mayor√≠a de los d√≠as, los fallecidos nuevos por COVID fueron muy bajos.

poblaci√≥n: Mediana = 13,434 ‚Üí La mayor√≠a de las regiones tienen poblaciones peque√±as comparadas con otras muy grandes (como Brasil o M√©xico), lo que indica alta desigualdad poblacional entre regiones.

¬øC√≥mo var√≠a la dispersi√≥n en t√©rminos de varianza y rango?
La varianza mide cu√°nto se dispersan los datos respecto a la media.
El rango indica la diferencia entre el valor m√°s alto y el m√°s bajo.
Si varianza y rango son altos, hay mucha variabilidad.
Si son bajos, los datos son m√°s homog√©neos o consistentes.

nuevos_confirmados	varianza 227,463	 rango 174,275
Tiene una varianza y rango muy altos, lo que indica que hay regiones o fechas con picos enormes de contagios comparado con otras.

nuevos_fallecidos	varianza 114	rango 11,500
Baja varianza, pero rango muy amplio ‚Üí normalmente hay pocos fallecimientos, pero hay excepciones con cifras muy altas, que son outliers.

poblaci√≥n	varianza 3,021,411,964,673	rango 110,991,949
Extremadamente dispersa. El rango es muy alto, lo que indica que algunas regiones tienen pocos habitantes y otras much√≠simos.


¬øQu√© nos indica esto sobre la consistencia o variabilidad?
Un conjunto con:
Alta varianza y rango: datos poco consistentes, muy dispersos ‚Üí puede dificultar an√°lisis o predicciones.
Baja varianza y rango: datos estables, m√°s confiables para an√°lisis comparativo.

En poblaci√≥n, aunque la media puede ser muy alta, la mayor√≠a de los pa√≠ses (mediana) tienen poblaciones bajas ‚Üí eso significa que la distribuci√≥n es muy asim√©trica.

En nuevos_confirmados, tambi√©n pasa lo mismo: d√≠as normales con pocos casos, pero algunos d√≠as con miles, lo que afecta la interpretaci√≥n de promedios.

In [18]:
df["location_key"].unique()

array(['AR', 'AR_A', 'AR_A_007', ..., 'PE_UCA_0304', 'PE_UCA_0305',
       'PE_UCA_0401'], shape=(6463,), dtype=object)

In [25]:
import pandas as pd

# 1. Ruta al archivo CSV (esto es un string, ¬°no es el DataFrame!)
ruta_archivo = r"C:\Users\PC\Documents\HENRY\MOD 4\PROYECTO INTEGRADOS M4\BASE INFORMACION\data_latinoamerica.csv"

# 2. Leer el archivo y convertirlo en un DataFrame
data_latinoamerica = pd.read_csv(ruta_archivo)

# 3. Lista de pa√≠ses objetivo
paises_objetivo = ["Argentina",  "Brazil", "Colombia", "Chile", "Mexico", "Peru" ]

# 4. Filtrar por country_name
data_latinoamerica = data_latinoamerica[
    data_latinoamerica["country_name"].isin(paises_objetivo)
]

# 5. Filtrar por location_key
data_latinoamerica = data_latinoamerica[
    data_latinoamerica["location_key"].isin(["AR", "BR", "CO", "CL", "MX", "PE"])
]

# 6. Aseg√∫rar de que la columna de fecha est√© en formato datetime
data_latinoamerica["date"] = pd.to_datetime(data_latinoamerica["date"])

# 7. Filtrar por fecha desde el 2021-01-01 en adelante
data_latinoamerica = data_latinoamerica[data_latinoamerica["date"] >= "2020-12-31"]

# Guardar el archivo Final

In [26]:
data_latinoamerica.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3756 entries, 365 to 10253876
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   location_key                           3756 non-null   object
 1   date                                   3756 non-null   datetime64[ns]
 2   country_code                           3756 non-null   object
 3   country_name                           3756 non-null   object
 4   new_confirmed                          3735 non-null   float64
 5   new_deceased                           3735 non-null   float64
 6   cumulative_confirmed                   3735 non-null   float64
 7   cumulative_deceased                    3735 non-null   float64
 8   cumulative_vaccine_doses_administered  3162 non-null   float64
 9   population                             3756 non-null   float64
 10  population_male                        3756 non-null   float64
 11  population_female                      3756 non-null   float64
 12  population_rural                       3756 non-null   float64
 13  population_urban                       3756 non-null   float64
 14  population_density                     3756 non-null   float64
 15  human_development_index                3756 non-null   float64
 16  population_age_00_09                   3756 non-null   float64
 17  population_age_10_19                   3756 non-null   float64
 18  population_age_20_29                   3756 non-null   float64
 19  population_age_30_39                   3756 non-null   float64
 20  population_age_40_49                   3756 non-null   float64
 21  population_age_50_59                   3756 non-null   float64
 22  population_age_60_69                   3756 non-null   float64
 23  population_age_70_79                   3756 non-null   float64
 24  population_age_80_and_older            3756 non-null   float64
 25  gdp_usd                                3756 non-null   float64
 26  gdp_per_capita_usd                     3756 non-null   float64
 27  latitude                               3756 non-null   float64
 28  longitude                              3756 non-null   float64
 29  area_sq_km                             3756 non-null   float64
 30  smoking_prevalence                     3756 non-null   float64
 31  diabetes_prevalence                    3756 non-null   float64
 32  infant_mortality_rate                  3756 non-null   float64
 33  nurses_per_1000                        3756 non-null   float64
 34  physicians_per_1000                    3756 non-null   float64
 35  average_temperature_celsius            3714 non-null   float64
 36  minimum_temperature_celsius            3715 non-null   float64
 37  maximum_temperature_celsius            3715 non-null   float64
 38  rainfall_mm                            3665 non-null   float64
 39  relative_humidity                      3714 non-null   float64
 40  population_largest_city                3756 non-null   float64
 41  area_rural_sq_km                       3756 non-null   float64
 42  area_urban_sq_km                       3756 non-null   float64
 43  life_expectancy                        3756 non-null   float64
 44  adult_male_mortality_rate              3756 non-null   float64
 45  adult_female_mortality_rate            3756 non-null   float64
 46  pollution_mortality_rate               3756 non-null   float64
 47  comorbidity_mortality_rate             3756 non-null   float64
 48  new_recovered                          1634 non-null   float64
 49  cumulative_recovered                   1012 non-null   float64
dtypes: datetime64[ns](1), float64(46), object(3)
memory usage: 1.5+ MB

In [27]:
print(data_latinoamerica.shape)

(3756, 50)

In [28]:
data_latinoamerica.to_csv('DatosFinalesFiltrados.csv', index=False)
print("‚úÖ Archivo guardado como 'DatosFinalesFiltrados.csv'")

‚úÖ Archivo guardado como 'DatosFinalesFiltrados.csv'

In [29]:
df_final = pd.read_csv('DatosFinalesFiltrados.csv')

In [30]:
# Obtener valores √∫nicos de la columna 'country_name'
valores_unicos = df_final["country_name"].unique()

print(valores_unicos)

['Argentina' 'Brazil' 'Chile' 'Colombia' 'Mexico' 'Peru']